---
import { Picture } from 'astro:assets'
import Button from 'components/Button.astro'
import Input from 'components/Input.astro'
import BaseLayout from 'layouts/BaseLayout.astro'
import Layout from 'layouts/Layout.astro'
import SandLayout from 'layouts/SandLayout.astro'
import MiddlewareLayout from 'layouts/MiddlewareLayout.astro'
import Master3 from 'images/master-3.jpg'
import { getLangFromUrl, useTranslatedPath, useTranslations } from 'i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)
---

<Layout title="DeCajon">
  <MiddlewareLayout>
    <BaseLayout showNavbar={false}>
      <SandLayout>
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <div
            class="grid grid-cols-1 grid-rows-[auto_auto] gap-x-[5.25rem] pb-16 pt-28 md:grid-cols-2"
          >
            <article>
              <h1
                class="m-auto mb-10 w-3/4 text-center text-xl uppercase lg:text-4xl xl:w-1/2"
              >
                {t('login.welcome')}
              </h1>
              <Input
                autocomplete="off"
                htmlFor="username"
                class="mb-5"
                label="Usuario"
              />
              <Input
                autocomplete="off"
                htmlFor="password"
                label="Contraseña"
                type="password"
              />
              <a
                class="block text-right text-xs text-rosewood"
                href={translatePath('/')}>{t('login.forgetAccount')}</a
              >
              <Button
                as="a"
                href={translatePath('/dashboard')}
                class="mt-8 block w-full"
              >
                {t('login.signin')}
              </Button>
              <p class="mt-8 text-center text-xs lg:text-base">
                {t('login.notAccount')}
                <a class="text-rosewood" href={translatePath('/signup')}
                  >&nbsp;{t('login.signup')}</a
                >
              </p>
            </article>
            <Picture
              alt="maestro-3"
              class="h-full rounded-[2.5rem] object-cover"
              pictureAttributes={{ class: 'hidden md:block' }}
              loading="lazy"
              src={Master3}
              formats={['webp', 'avif', 'jpeg']}
            />
          </div>
        </div>
      </SandLayout>
    </BaseLayout>
  </MiddlewareLayout>
</Layout>
