---
import BaseLayout from 'layouts/BaseLayout.astro'
import Layout from 'layouts/Layout.astro'
import MiddlewareLayout from 'layouts/MiddlewareLayout.astro'
import SandLayout from 'layouts/SandLayout.astro'
import { getLangFromUrl, useTranslations } from 'i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="Historia">
  <MiddlewareLayout>
    <BaseLayout>
      <SandLayout class="py-[4.375rem]">
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <h1 class="my-4 text-2xl uppercase">
            {t('exchanges.title')}
          </h1>
          <p>
            {t('exchanges.introduction')}
          </p>
          <h3 class="my-4 text-xl uppercase">{t('exchanges.returns')}</h3>
          <p>
            {t('exchanges.content')}
          </p>
        </div>
      </SandLayout>
    </BaseLayout>
  </MiddlewareLayout>
</Layout>
