---
import BaseLayout from 'layouts/BaseLayout.astro'
import Layout from 'layouts/Layout.astro'
import MiddlewareLayout from 'layouts/MiddlewareLayout.astro'
import SandLayout from 'layouts/SandLayout.astro'
import { getLangFromUrl, useTranslations } from 'i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="Historia">
  <MiddlewareLayout>
    <BaseLayout>
      <SandLayout class="py-[4.375rem]">
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <h1 class="my-4 text-2xl uppercase">
            {t('exchanges.title')}
          </h1>
          <p class="mb-4">
            {t('exchanges.introduction')}
          </p>
          <h2 class="mb-2 text-xl font-bold">1. {t('exchanges.condition')}</h2>
          <p class="mb-4">
            {t('exchanges.conditionInfo')}
          </p>
          <h2 class="mb-2 text-xl font-bold">
            2. {t('exchanges.damagedProduct')}
          </h2>
          <p class="mb-4">
            {t('exchanges.damagedProductInfo')}
          </p>
          <h2 class="mb-2 text-xl font-bold">
            3. {t('exchanges.cancelOrder')}
          </h2>
          <p class="mb-4">
            {t('exchanges.cancelOrderInfo')}
          </p>
          <h2 class="mb-2 text-xl font-bold">4. {t('exchanges.refund')}</h2>
          <p>
            {t('exchanges.refundInfo')}
          </p>
          <h2 class="mb-2 text-xl font-bold">5. {t('exchanges.exceptions')}</h2>
          <p class="mb-4">
            {t('exchanges.exceptionsInfo')}
          </p>
          <p class="mb-4">
            {t('exchanges.contact')}
          </p>
        </div>
      </SandLayout>
    </BaseLayout>
  </MiddlewareLayout>
</Layout>
