---
import BaseLayout from 'layouts/BaseLayout.astro'
import Layout from 'layouts/Layout.astro'
import MiddlewareLayout from 'layouts/MiddlewareLayout.astro'
import SandLayout from 'layouts/SandLayout.astro'
import { getLangFromUrl, useTranslations } from 'i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="Historia">
  <MiddlewareLayout>
    <BaseLayout>
      <SandLayout class="py-[4.375rem]">
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <h1 class="my-4 text-2xl uppercase">{t('returns.title')}</h1>
          <h2 class="mb-2 text-xl font-bold">
            1. {t('returns.introduction')}
          </h2>
          <p class="mb-4">
            {t('returns.introductionInfo')}
          </p>
          <h2 class="mb-2 text-xl font-bold">2. {t('returns.age')}</h2>
          <p class="mb-4">
            {t('returns.ageInfo')}
          </p>
          <h2 class="mb-2 text-xl font-bold">
            3. {t('returns.account')}
          </h2>
          <p class="mb-4">{t('returns.accountInfo')}</p>
          <h2 class="mb-2 text-xl font-bold">4. {t('returns.checkout')}</h2>
          <p class="mb-4">{t('returns.checkoutInfo')}</p>
          <h2 class="mb-2 text-xl font-bold">5. {t('returns.delivery')}</h2>
          <p class="mb-4">{t('returns.deliveryInfo')}</p>
          <h2 class="mb-2 text-xl font-bold">6. {t('returns.returnPolicy')}</h2>
          <p class="mb-4">
            {t('returns.returnPolicyInfo')}
          </p>
          <h2 class="mb-2 text-xl font-bold">
            7. {t('returns.userResponsibility')}
          </h2>
          <p class="mb-4">{t('returns.userResponsibilityInfo')}</p>
          <h2 class="mb-2 text-xl font-bold">
            8. {t('returns.privacyDataProtection')}
          </h2>
          <p class="mb-4">{t('returns.privacyDataProtectionInfo')}</p>
          <h2 class="mb-2 text-xl font-bold">
            9. {t('returns.termsConditions')}
          </h2>
          <p class="mb-4">{t('returns.termsConditionsInfo')}</p>
          <h2 class="mb-2 text-xl font-bold">
            10. {t('returns.applicableLegislation')}
          </h2>
          <p class="mb-4">{t('returns.applicableLegislationInfo')}</p>
          <p>{t('returns.contact')}</p>
        </div>
      </SandLayout>
    </BaseLayout>
  </MiddlewareLayout>
</Layout>
