---
import { getLangFromUrl, useTranslations } from 'i18n/utils'

type Props = { title: string; descriptions: string[] }

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const { title, descriptions } = Astro.props
---

<article class="flex flex-col gap-3">
  <h1
    class="border border-eerie-black py-[0.875rem] text-center text-xl uppercase lg:text-4xl"
  >
    {t('products.description')}
  </h1>
  <div
    class="grid grid-cols-1 gap-y-2 border border-eerie-black px-4 py-[1.125rem] md:grid-cols-2 md:grid-rows-[auto_1fr] md:gap-x-3 lg:gap-y-6"
  >
    <div class="md:row-start-1 md:-row-end-1">
      <slot />
    </div>

    <h2
      class="text-sm uppercase text-rosewood md:col-start-2 md:text-xl lg:text-2xl"
    >
      {title}
    </h2>
    <ul
      class="ml-4 flex flex-col gap-y-2 font-thabit md:col-start-2 md:row-start-2"
    >
      {
        descriptions.map((description) => (
          <li class="list-disc text-xs lg:text-base">{description}</li>
        ))
      }
    </ul>
  </div>
</article>
