---
import SliderRecipes from 'components/SliderRecipes.astro'
import Layout from 'layouts/Layout.astro'
import BaseLayout from 'layouts/BaseLayout.astro'
import MiddlewareLayout from 'layouts/MiddlewareLayout.astro'
import SandLayout from 'layouts/SandLayout.astro'
---

<Layout title="DeCajon">
  <MiddlewareLayout>
    <BaseLayout>
      <SandLayout class="pt-[5.75rem]">
        <slot />
      </SandLayout>
      <SandLayout class="py-9">
        <div
          class="m-auto flex w-[76%] max-w-screen-2xl flex-col gap-7 md:flex-row md:gap-10"
        >
          <slot name="information" />
        </div>
      </SandLayout>
      <SandLayout class="py-9">
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <slot name="description" />
        </div>
      </SandLayout>
      <SandLayout class="py-9 md:py-[4.725rem]">
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <SliderRecipes />
        </div>
      </SandLayout>
    </BaseLayout>
  </MiddlewareLayout>
</Layout>
