---
import { Picture } from 'astro:assets'
import BaseLayout from 'layouts/BaseLayout.astro'
import Layout from 'layouts/Layout.astro'
import MiddlewareLayout from 'layouts/MiddlewareLayout.astro'
import SandLayout from 'layouts/SandLayout.astro'
import ProductsBanner from 'images/products-banner.png'
import BottleVodka from 'images/bottle-vodka-compressed.png'
import BottleGin from 'images/bottle-gin.png'
import BottleSiembra from 'images/bottle-siembra.png'
import SliderRecipes from 'components/SliderRecipes.astro'
import Product from 'components/Product.astro'
import { getLangFromUrl, useTranslations } from 'i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title="Historia">
  <MiddlewareLayout>
    <BaseLayout>
      <SandLayout>
        <div class="m-auto max-w-screen-2xl">
          <Picture
            src={ProductsBanner}
            loading="lazy"
            alt="products"
            formats={['png', 'webp', 'avif', 'jpeg']}
          />
        </div>
      </SandLayout>
      <SandLayout class="py-9 lg:py-16">
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <h1
            class="m-auto mb-5 text-center uppercase md:w-3/4 md:text-2xl lg:text-5xl xl:w-1/2"
          >
            {t('products.heading')}
          </h1>
          <Product
            alias="Vodka"
            img={{ alt: 'BottleVodka', src: BottleVodka }}
            title="DE CAJÓN VODKA"
            description={t('products.vodka')}
            link="/products/vodka"
            price="S/. 99,00"
          />
        </div>
      </SandLayout>
      <SandLayout class="py-9 lg:py-16">
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <Product
            align="right"
            alias="Gin"
            img={{ alt: 'GinTonic', src: BottleGin }}
            title="DE CAJÓN GIN"
            description={t('products.gin')}
            link="/products/vodka-gin"
            price="s/. 104,00"
          />
        </div>
      </SandLayout>
      <SandLayout class="py-9 lg:py-16">
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <Product
            align="right"
            alias="Gin"
            img={{ alt: 'SiembraVodka', src: BottleSiembra }}
            title="SIEMBRA VODKA"
            description={t('products.siembra')}
            link="/products/vodka-siembra"
            price="S/. 34,00"
          />
        </div>
      </SandLayout>
      <SandLayout class="py-14">
        <div class="m-auto w-[76%] max-w-screen-2xl">
          <SliderRecipes />
        </div>
      </SandLayout>
    </BaseLayout>
  </MiddlewareLayout>
</Layout>
