---
import { join } from 'node:path'
import { AstroFont } from 'astro-font'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="DeCajon" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <AstroFont
      config={[
        {
          name: 'GildaDisplay',
          src: [
            {
              style: 'normal',
              weight: 'normal',
              path: join(
                process.cwd(),
                'public',
                'fonts',
                'GildaDisplay-Regular.woff'
              ),
            },
          ],
          preload: true,
          display: 'swap',
          fallback: 'sans-serif',
        },
        {
          name: 'CutiveMono',
          src: [
            {
              style: 'normal',
              weight: 'normal',
              path: join(
                process.cwd(),
                'public',
                'fonts',
                'CutiveMono-Regular.woff'
              ),
            },
          ],
          preload: true,
          display: 'swap',
          fallback: 'sans-serif',
        },
        {
          name: 'Thabit',
          src: [
            {
              style: 'normal',
              weight: 'bold',
              path: join(process.cwd(), 'public', 'fonts', 'Thabit-Bold.woff'),
            },
          ],
          preload: true,
          display: 'swap',
          fallback: 'sans-serif',
        },
      ]}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html * {
    font-family: 'CutiveMono', system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'GildaDisplay', sans-serif, system-ui;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
<script>
  import { Storage } from 'adapters/storage'
  const initialStorage = {
    cart: [],
    isOlder: false,
  }
  Storage.session.setValue(
    'DECAJON_STORAGE',
    Storage.session.getValue('DECAJON_STORAGE') ?? initialStorage
  )
</script>
